NODE_ENV="development" # on prod change to 'production'
SERVER_PORT=3000
DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=note_nova
BCRYPT_SALT_ROUNDS=10
SESSION_SECRET="!CODE_UNIVERSITY"
SESSION_RESAVE=true
SESSION_SAVE_UNINITIALIZED=false
SESSION_COOKIE_MAX_AGE=604800000 # 7 days in milliseconds
DOTENV_CONFIG_QUIET=true